*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#111827;

font-family:sans-serif;

color:white;

}

.container{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:20px;

}

h1{

font-size:2.5rem;

}

.status{

font-size:22px;

font-weight:700;

}

.board{

display:grid;

grid-template-columns:
repeat(3,100px);

gap:10px;

}

.square{

height:100px;

width:100px;

border:none;

border-radius:12px;

background:#1f2937;

color:white;

font-size:2rem;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.square:hover{

background:#374151;

}

.reset{

padding:12px 25px;

border:none;

border-radius:8px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

}

.reset:hover{

background:#1d4ed8;

}

.winner{

background:#22c55e;

box-shadow:

0 0 20px
#22c55e;

animation:

winnerAnim
0.5s infinite
alternate;

}

@keyframes winnerAnim{

from{

transform:scale(1);

}

to{

transform:scale(1.12);

}

}

@media(
max-width:450px
){

.board{

grid-template-columns:
repeat(3,80px);

}

.square{

width:80px;

height:80px;

}

}